*{
    margin: 0;
    padding: 0;
}
.addwork_h1_a1{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.addworkplace_input_a1{
    margin: 0 auto ;
    width: 100% !important;
}
.container-inner-div_a2{
    margin-top: 100px;
}
.addworkflow-partn_a3{
    background: #9a9a9a;
    min-height: 426px;
    padding-top: 200px;
}
.addworkplace_submit{
   margin-right: 10px !important;
}
.custom-modal{
    padding: 20px 0;
    border-radius: 10px;
}
.about-yourself{
    width: 320px;
    box-sizing: border-box;
    background: white !important;
    padding:10px 10px;
}
.about-yourself #transition-modal-title{
text-align: center;
}
.about-yourself .main-legend{
    margin: 10px 0 0 0 ;
}
.about-yourself .legend{
margin: 20px 0 3px 0 !important;
}
.about-yourself .about-modal-main{
margin: 0 auto;
padding: 10px;
}
.input-control{
margin: 0 0 10px 0 !important;  
}